<ion-content [fullscreen]="true" color="primary">

  <div class="logo logoAnimation" [class.active]="this.globals.starting">
    <img src="../../../assets/logo.png" alt="">
  </div>
  <!-- Login Page -->
  <div>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item" color="secondary">
        <fieldset  class="input-item">
          <legend>{{this.lang.getLang()["Username"]}}</legend> 
          <ion-input formControlName="username" type="text" placeholder="{{this.lang.getLang()['Username']}}"></ion-input>
        </fieldset>
      </ion-item>
      
      <ion-item lines="none" class="ion-item" color="secondary">
        <fieldset class="input-item">
          <legend>{{this.lang.getLang()["Password"]}}</legend> 
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      
      <ion-item lines="none" class="ion-item" color="secondary">
        <fieldset class="input-item">
          <legend>{{this.lang.getLang()["Security Code"]}}</legend> 
          <ion-input formControlName="securityCode" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>

      <p class="routing" [routerLink]="['/ident']">{{this.lang.getLang()["Forget"]}}</p>
      <p class="message" >{{this.exception.getMessage()}}</p>
      <ion-button class="login-button" color="dark" (click)="login()" expand="block">{{this.lang.getLang()["Login"]}}</ion-button>
    </form>
  </div>

</ion-content>
