.heading{
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: -60px;
}
.input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 70px;
    ion-input{
        margin-top: -12px;
    }
}
.ion-item{
    margin-top: 20px;
    
}
.routing{
    text-align: end;
    margin-bottom: -10px;
    padding-right: 20px;
}
.login-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
}

.signup-text{
    a{
        text-decoration: none;
        color: var(--ion-color-primary);
    }
    padding-right: 20px;
    text-align: end;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}

.logoAnimation.active{
    animation-name: logoFrames;
    animation-duration: 4s
}

@keyframes logoFrames {
    0%   { height: 100%; }
    50%  { height: 100%; }
    100% { height: 25%; }
}

.displayForm{
    animation-name: displayFormFrames;
    animation-duration: 4s
}

@keyframes displayFormFrames {
    0%   {display: none}
    99.99%  {display: none;}
    100% {display: flex;}
}

form{
    max-width: 350px;
    margin: auto auto;
}